# Protocol Gateway - Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nexus

resources:
  - serviceaccount.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - devices-configmap.yaml

commonLabels:
  app.kubernetes.io/name: protocol-gateway
  app.kubernetes.io/component: gateway

